{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "core",
        "puzzles"
      ]
    ],
    "subject-case": [
      2,
      "always",
      "sentence-case"
    ],
    "type-enum": [
      2,
      "always",
      [
        "chore",
        "docs",
        "feat",
        "fix",
        "refactor",
        "revert"
      ]
    ]
  }
}
